<div class="container">
  <div class="d-inline-flex p-2 align-items-center">
    <h1><%= @position.name %></h1>
    <h5 class="mx-3"><%= @position.role %></h5>
    <h5><%= @position.mentality %></h5>
  </div>
  <p>
    <%= link_to 'back', 'javascript:history.back()', class:"btn btn-sm btn-secondary" %>
    <%= link_to 'edit', edit_position_path(@position), class:"btn btn-sm btn-warning" %>
    <%= link_to 'delete', position_path(@position), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger"  %>
  </p>

  <div class="row">
  <h5>ATTRIBUTE WEIGHT</h5>
    <div class="col">
      <% if @position.name == 'GK' %>
      <h5>GOALKEEPER</h5>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Aerial Reach</td>
              <td><%= @position.aerial_reach %></td>
            </tr>
            <tr>
              <td>Command of Area</td>
              <td><%= @position.command_of_area %></td>
            </tr>
            <tr>
              <td>Communication</td>
              <td><%= @position.communication %></td>
            </tr>
            <tr>
              <td>Eccentricity</td>
              <td><%= @position.eccentricity %></td>
            </tr>
            <tr>
              <td>First Touch</td>
              <td><%= @position.first_touch %></td>
            </tr>
            <tr>
              <td>Handling</td>
              <td><%= @position.handling %></td>
            </tr>
            <tr>
              <td>Kicking</td>
              <td><%= @position.kicking %></td>
            </tr>
            <tr>
              <td>One on Ones</td>
              <td><%= @position.one_on_ones %></td>
            </tr>
            <tr>
              <td>Passing</td>
              <td><%= @position.passing %></td>
            </tr>
            <tr>
              <td>Punching (Tendency)</td>
              <td><%= @position.punching %></td>
            </tr>
            <tr>
              <td>Reflexes</td>
              <td><%= @position.reflexes %></td>
            </tr>
            <tr>
              <td>Rushing Out (Tendency)</td>
              <td><%= @position.rushing_out %></td>
            </tr>
            <tr>
              <td>Throwing</td>
              <td><%= @position.throwing %></td>
            </tr>
          </tbody>
        </table>
      <% else %>
        <h5>TECHNICAL</h5>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Corners</td>
              <td><%= @position.corners %></td>
            </tr>
            <tr>
              <td>Crossing</td>
              <td><%= @position.crossing %></td>
            </tr>
            <tr>
              <td>Dribbling</td>
              <td><%= @position.dribbling %></td>
            </tr>
            <tr>
              <td>Finishing</td>
              <td><%= @position.finishing %></td>
            </tr>
            <tr>
              <td>First Touch</td>
              <td><%= @position.first_touch %></td>
            </tr>
            <tr>
              <td>Free Kick Taking</td>
              <td><%= @position.free_kicks %></td>
            </tr>
            <tr>
              <td>Heading</td>
              <td><%= @position.heading %></td>
            </tr>
            <tr>
              <td>Long Shots</td>
              <td><%= @position.long_shots %></td>
            </tr>
            <tr>
              <td>Long Throws</td>
              <td><%= @position.long_throw %></td>
            </tr>
            <tr>
              <td>Marking</td>
              <td><%= @position.marking %></td>
            </tr>
            <tr>
              <td>Passing</td>
              <td><%= @position.passing %></td>
            </tr>
            <tr>
              <td>Penalty Taking</td>
              <td><%= @position.penalty_taking %></td>
            </tr>
            <tr>
              <td>Tackling</td>
              <td><%= @position.tackling %></td>
            </tr>
            <tr>
              <td>Technique</td>
              <td><%= @position.technique %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="col">
      <h5>MENTAL</h5>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Aggression</td>
            <td><%= @position.aggression %></td>
          </tr>
          <tr>
            <td>Anticipation</td>
            <td><%= @position.anticipation %></td>
          </tr>
          <tr>
            <td>Bravery</td>
            <td><%= @position.bravery %></td>
          </tr>
          <tr>
            <td>Composure</td>
            <td><%= @position.composure %></td>
          </tr>
          <tr>
            <td>Concentration</td>
            <td><%= @position.concentration %></td>
          </tr>
          <tr>
            <td>Decisions</td>
            <td><%= @position.decisions %></td>
          </tr>
          <tr>
            <td>Determination</td>
            <td><%= @position.determination %></td>
          </tr>
          <tr>
            <td>Flair</td>
            <td><%= @position.flair %></td>
          </tr>
          <tr>
            <td>Leadership</td>
            <td><%= @position.leadership %></td>
          </tr>
          <tr>
            <td>Off The Ball</td>
            <td><%= @position.off_the_ball %></td>
          </tr>
          <tr>
            <td>Positioning</td>
            <td><%= @position.positioning %></td>
          </tr>
          <tr>
            <td>Teamwork</td>
            <td><%= @position.teamwork %></td>
          </tr>
          <tr>
            <td>Vision</td>
            <td><%= @position.vision %></td>
          </tr>
          <tr>
            <td>Work Rate</td>
            <td><%= @position.work_rate %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <h5>PHYSICAL</h5>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Acceleration</td>
            <td><%= @position.acceleration %></td>
          </tr>
          <tr>
            <td>Agility</td>
            <td><%= @position.agility %></td>
          </tr>
          <tr>
            <td>Balance</td>
            <td><%= @position.balance %></td>
          </tr>
          <tr>
            <td>Jumping Reach</td>
            <td><%= @position.jumping %></td>
          </tr>
          <tr>
            <td>Natural Fitness</td>
            <td><%= @position.natural_fitness %></td>
          </tr>
          <tr>
            <td>Pace</td>
            <td><%= @position.pace %></td>
          </tr>
          <tr>
            <td>Stamina</td>
            <td><%= @position.stamina %></td>
          </tr>
          <tr>
            <td>Strength</td>
            <td><%= @position.strength %></td>
          </tr>
          <tr>
            <td>Consistency</td>
            <td><%= @position.h_consistency %></td>
          </tr>
          <tr>
            <td>Dirtiness</td>
            <td><%= @position.h_dirtiness %></td>
          </tr>
          <tr>
            <td>Important Matches</td>
            <td><%= @position.h_important_matches %></td>
          </tr>
          <tr>
            <td>Injury Proneness</td>
            <td><%= @position.h_injury_proneness %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
