<div class="col-3 text-center">
  <h6>
    <%= link_to position_path(p) do %>
      <%= p.name %>
      <%= p.role %>
      <%= p.mentality %>
    <% end %>
    <% if p.position_blacklists.present? %>
      <%= link_to show_all_players_path(position_id: p.id), data: { turbo_method: :delete, turbo_confirm: 'Reset Filters, are you sure?'} do %>
        <span><i class="fa-solid fa-filter-circle-xmark fa-xs text-danger "></i></span>
      <% end %>
    <% end %>
  </h6>

  <% get_best_three_players(p, @players).each do |player| %>
    <%# Create a button to create a position blacklist for this player and position %>
    <p>
      <%= simple_form_for (@position_blacklist), url: hide_path, method: :post do |f| %>
        <%= f.hidden_field :player_id, value: player[0].id %>
        <%= f.hidden_field :position_id, value: p.id %>
        <%= button_tag type: 'submit', class:'btn-no-bg' do %>
          <span><i class="fa-solid fa-eye-slash fa-2xs"></i></span>
        <% end %>
      <% end %>
      <%= link_to player[0].name, player_path(player) %><%= " #{player[1]}%" %>
    </p>
  <% end %>

</div>
