<div class="col-3 text-center">
  <%= link_to position_path(p) do %>
    <h5>
      <%= p.name %>
      <%= p.role %>
      <%= p.mentality %>
    </h5>
  <% end %>

  <% get_best_three_players(p, @players).each do |player| %>
    <p>
      <%= link_to player[0].name, player_path(player) %><%= " #{player[1]}%" %>
      <button onclick="togglePlayer(<%= player[0].id %>)">Hide/Show</button>
    </p>
  <% end %>

</div>
