<div class="container">
  <h1>Depth Chart</h1>
  <%= link_to 'back', tactic_path(@tactic), class:"btn btn-sm btn-secondary" %>

  <div class="row justify-content-center">
    <% @st.each do |p| %>
      <%= render "players", p: p %>
    <% end %>
  </div>

  <div class="row justify-content-center">
    <% @am.each do |p| %>
      <%= render "players", p: p %>
    <% end %>
  </div>

  <div class="row justify-content-center">
    <% @m.each do |p| %>
      <%= render "players", p: p %>
    <% end %>
  </div>

  <div class="row justify-content-center">
    <% @dm.each do |p| %>
      <%= render "players", p: p %>
    <% end %>
  </div>

  <div class="row justify-content-center">
    <% @d.each do |p| %>
      <%= render "players", p: p %>
    <% end %>
  </div>

  <div class="row justify-content-center">
    <% @sw.each do |p| %>
      <%= render "players", p: p %>
    <% end %>
  </div>

  <div class="row justify-content-center">
    <% @gk.each do |p| %>
      <%= render "players", p: p %>
    <% end %>
  </div>
</div>
