<div class="container">
  <h1>Players</h1>
  <%= link_to 'add new player', new_player_path, class:'btn btn-sm btn-primary my-2' %>
  <%# Renders the import button for the CSV File %>
  <%= render "import" %>

  <table class="table">
    <thead>
      <tr class="text-center">
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Position</th>
        <th scope="col">Personality</th>
        <th scope="col">Hidden Attributes</th>
      </tr>
    </thead>
    <tbody>
      <% @players.each do |player| %>
        <tr>
          <td class="text-center"><%= player.id %></td>
          <td><a href='/players/<%= player.id %>'><%= player.name %></a></td>
          <td class="text-center <%= age_class(player.age) %>"><%= player.age %></td>
          <td><%= player_posmap(player) %></td>
          <td class="text-center"><%= player.personality %></td>
          <td class="text-center">
            <%= link_to edit_player_path(player) do %>
              <%= hidden_attributes_completed?(player) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
