<div class="container">
  <h1>Create a new player</h1>

  <%= simple_form_for(@player) do |form| %>
    <p><strong>General Info</strong></p>
    <div class="row">
      <div class="col-3">
        <%= form.input :name %>
      </div>
      <div class="col-3">
        <%= form.input :age %>
      </div>
      <div class="col-3">
        <%= form.input :position, :collection => %w[GK DC DR DL DM WBR WBL MC MR ML AMC AMR AML ST] %>
      </div>
      <div class="col-3">
        <%= form.input :uid %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-3">
        <p><strong>Technical</strong></p>
        <%= form.label :corners, "Corners" %>
        <%= form.input :corners, label: false %>
        <%= form.label :crossing, "Crossing" %>
        <%= form.input :crossing, label: false %>
        <%= form.label :dribbling, "Dribbling" %>
        <%= form.input :dribbling, label: false %>
        <%= form.label :finishing, "Finishing" %>
        <%= form.input :finishing, label: false %>
        <%= form.label :first_touch, "First Touch" %>
        <%= form.input :first_touch, label: false %>
        <%= form.label :free_kicks, "Free Kick Taking" %>
        <%= form.input :free_kicks, label: false %>
        <%= form.label :heading, "Heading" %>
        <%= form.input :heading, label: false %>
        <%= form.label :long_shots, "Long Shots" %>
        <%= form.input :long_shots, label: false %>
        <%= form.label :long_throw, "Long Throws" %>
        <%= form.input :long_throw, label: false %>
        <%= form.label :marking, "Marking" %>
        <%= form.input :marking, label: false %>
        <%= form.label :passing, "Passing" %>
        <%= form.input :passing, label: false %>
        <%= form.label :penalty_taking, "Penalty Taking" %>
        <%= form.input :penalty_taking, label: false %>
        <%= form.label :tackling, "Tackling" %>
        <%= form.input :tackling, label: false %>
        <%= form.label :technique, "Technique" %>
        <%= form.input :technique, label: false %>
      </div>
      <div class="col-3">
        <p><strong>Mental</strong></p>
        <%= form.label :aggression, "Aggression" %>
        <%= form.input :aggression, label: false %>
        <%= form.label :anticipation, "Anticipation" %>
        <%= form.input :anticipation, label: false %>
        <%= form.label :bravery, "Bravery" %>
        <%= form.input :bravery, label: false %>
        <%= form.label :composure, "Composure" %>
        <%= form.input :composure, label: false %>
        <%= form.label :concentration, "Concentration" %>
        <%= form.input :concentration, label: false %>
        <%= form.label :decisions, "Decision" %>
        <%= form.input :decisions, label: false %>
        <%= form.label :determination, "Determination" %>
        <%= form.input :determination, label: false %>
        <%= form.label :flair, "Flair" %>
        <%= form.input :flair, label: false %>
        <%= form.label :leadership, "Leadership" %>
        <%= form.input :leadership, label: false %>
        <%= form.label :off_the_ball, "Off the Ball" %>
        <%= form.input :off_the_ball, label: false %>
        <%= form.label :positioning, "Positioning" %>
        <%= form.input :positioning, label: false %>
        <%= form.label :teamwork, "Teamwork" %>
        <%= form.input :teamwork, label: false %>
        <%= form.label :vision, "Vision" %>
        <%= form.input :vision, label: false %>
        <%= form.label :work_rate, "Work Rate" %>
        <%= form.input :work_rate, label: false %>
      </div>
      <div class="col-3">
        <p><strong>Physical</strong></p>
        <%= form.label :acceleration, "Acceleration" %>
        <%= form.input :acceleration, label: false %>
        <%= form.label :agility, "Agility" %>
        <%= form.input :agility, label: false %>
        <%= form.label :balance, "Balance" %>
        <%= form.input :balance, label: false %>
        <%= form.label :jumping, "Jumping Reach" %>
        <%= form.input :jumping, label: false %>
        <%= form.label :natural_fitness, "Natural Fitness" %>
        <%= form.input :natural_fitness, label: false %>
        <%= form.label :pace, "Pace" %>
        <%= form.input :pace, label: false %>
        <%= form.label :stamina, "Stamina" %>
        <%= form.input :stamina, label: false %>
        <%= form.label :strength, "Strength" %>
        <%= form.input :strength, label: false %>
        <%= form.label :h_consistency, "Consistency" %>
        <%= form.input :h_consistency, label: false %>
        <%= form.label :h_dirtiness, "Dirtiness" %>
        <%= form.input :h_dirtiness, label: false %>
        <%= form.label :h_important_matches, "Important Matches" %>
        <%= form.input :h_important_matches, label: false %>
        <%= form.label :h_injury_proneness, "Injury Proneness" %>
        <%= form.input :h_injury_proneness, label: false %>
      </div>
      <div class="col-3">
        <p><strong>Goalkeeper</strong></p>
        <%= form.label :aerial_reach, "Aerial Reach" %>
        <%= form.input :aerial_reach, label: false %>
        <%= form.label :command_of_area, "Command of Area" %>
        <%= form.input :command_of_area, label: false %>
        <%= form.label :communication, "Communication" %>
        <%= form.input :communication, label: false %>
        <%= form.label :eccentricity, "Eccentricity" %>
        <%= form.input :eccentricity, label: false %>
        <%= form.label :handling, "Handling" %>
        <%= form.input :handling, label: false %>
        <%= form.label :kicking, "Kicking" %>
        <%= form.input :kicking, label: false %>
        <%= form.label :one_on_ones, "One on Ones" %>
        <%= form.input :one_on_ones, label: false %>
        <%= form.label :punching, "Punching (Tendency)" %>
        <%= form.input :punching, label: false %>
        <%= form.label :reflexes, "Reflexes" %>
        <%= form.input :reflexes, label: false %>
        <%= form.label :rushing_out, "Rushing Out (Tendency)" %>
        <%= form.input :rushing_out, label: false %>
        <%= form.label :throwing, "Throwing" %>
        <%= form.input :throwing, label: false %>
      </div>

    <%= form.button :submit, class:"btn btn-sm btn-primary" %>
  <% end %>
</div>
