<div class="container">
  <div class="row">
    <h1>
      <%= @player.name %>
      <%= link_to 'edit', edit_player_path(@player), class:"btn btn-sm btn-warning" %>
      <%= link_to 'position map', edit_posmap_path(@posmap), class:"btn btn-sm btn-success" %>
      <%= link_to 'delete', player_path(@player), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger"  %>
    </h1>
  </div>
    <%= link_to 'back', 'javascript:history.back()', class:"btn btn-sm btn-secondary" %>
  <div class="row">
    <div class="col">
      <h5><%= @player.position %></h5>
      <h5><%= @player.age %> years old</h5>
    </div>
    <div class="col">
      <p>
        <% playable_positions(@posmap).each do |position| %>
          <%= position %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="row">
    <h5>ATTRIBUTES</h5>
    <div class="col">
      <% if @player.position == "GK" %>
        <h5>GOALKEEPING</h5>
        <table class="table">
          <tbody>
            <tr>
              <td>Aerial Reach</td>
              <td class="attribute <%= attribute_class(@player.aerial_reach) %>"><%= @player.aerial_reach %></td>
            </tr>
            <tr>
              <td>Command of Area</td>
              <td class="attribute <%= attribute_class(@player.command_of_area) %>"><%= @player.command_of_area %></td>
            </tr>
            <tr>
              <td>Communication</td>
              <td class="attribute <%= attribute_class(@player.communication) %>"><%= @player.communication %></td>
            </tr>
            <tr>
              <td>Eccentricity</td>
              <td class="attribute <%= reverse_attribute_class(@player.eccentricity) %>"><%= @player.eccentricity %></td>
            </tr>
            <tr>
              <td>First Touch</td>
              <td class="attribute <%= attribute_class(@player.first_touch) %>"><%= @player.first_touch %></td>
            </tr>
            <tr>
              <td>Handling</td>
              <td class="attribute <%= attribute_class(@player.handling) %>"><%= @player.handling %></td>
            </tr>
            <tr>
              <td>Kicking</td>
              <td class="attribute <%= attribute_class(@player.kicking) %>"><%= @player.kicking %></td>
            </tr>
            <tr>
              <td>One on Ones</td>
              <td class="attribute <%= attribute_class(@player.one_on_ones) %>"><%= @player.one_on_ones %></td>
            </tr>
            <tr>
              <td>Passing</td>
              <td class="attribute <%= attribute_class(@player.passing) %>"><%= @player.passing %></td>
            </tr>
            <tr>
              <td>Punching (Tendency)</td>
              <td class="attribute <%= attribute_class(@player.punching) %>"><%= @player.punching %></td>
            </tr>
            <tr>
              <td>Reflexes</td>
              <td class="attribute <%= attribute_class(@player.reflexes) %>"><%= @player.reflexes %></td>
            </tr>
            <tr>
              <td>Rushing Out (Tendency)</td>
              <td class="attribute <%= attribute_class(@player.rushing_out) %>"><%= @player.rushing_out %></td>
            </tr>
            <tr>
              <td>Throwing</td>
              <td class="attribute <%= attribute_class(@player.throwing) %>"><%= @player.throwing %></td>
            </tr>
          </tbody>
        </table>
      <% else %>
        <h5>TECHNICAL</h5>
        <table class="table">
          <tbody>
            <tr>
              <td>Corners</td>
              <td class="attribute <%= attribute_class(@player.corners) %>"><%= @player.corners %></td>
            </tr>
            <tr>
              <td>Crossing</td>
              <td class="attribute <%= attribute_class(@player.crossing) %>"><%= @player.crossing %></td>
            </tr>
            <tr>
              <td>Dribbling</td>
              <td class="attribute <%= attribute_class(@player.dribbling) %>"><%= @player.dribbling %></td>
            </tr>
            <tr>
              <td>Finishing</td>
              <td class="attribute <%= attribute_class(@player.finishing) %>"><%= @player.finishing %></td>
            </tr>
            <tr>
              <td>First Touch</td>
              <td class="attribute <%= attribute_class(@player.first_touch) %>"><%= @player.first_touch %></td>
            </tr>
            <tr>
              <td>Free Kick Taking</td>
              <td class="attribute <%= attribute_class(@player.free_kicks) %>"><%= @player.free_kicks %></td>
            </tr>
            <tr>
              <td>Heading</td>
              <td class="attribute <%= attribute_class(@player.heading) %>"><%= @player.heading %></td>
            </tr>
            <tr>
              <td>Long Shots</td>
              <td class="attribute <%= attribute_class(@player.long_shots) %>"><%= @player.long_shots %></td>
            </tr>
            <tr>
              <td>Long Throws</td>
              <td class="attribute <%= attribute_class(@player.long_throw) %>"><%= @player.long_throw %></td>
            </tr>
            <tr>
              <td>Marking</td>
              <td class="attribute <%= attribute_class(@player.marking) %>"><%= @player.marking %></td>
            </tr>
            <tr>
              <td>Passing</td>
              <td class="attribute <%= attribute_class(@player.passing) %>"><%= @player.passing %></td>
            </tr>
            <tr>
              <td>Penalty Taking</td>
              <td class="attribute <%= attribute_class(@player.penalty_taking) %>"><%= @player.penalty_taking %></td>
            </tr>
            <tr>
              <td>Tackling</td>
              <td class="attribute <%= attribute_class(@player.tackling) %>"><%= @player.tackling %></td>
            </tr>
            <tr>
              <td>Technique</td>
              <td class="attribute <%= attribute_class(@player.technique) %>"><%= @player.technique %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="col">
      <h5>MENTAL</h5>
      <table class="table">
        <tbody>
          <tr>
            <td>Aggression</td>
            <td class="attribute <%= attribute_class(@player.aggression) %>"><%= @player.aggression %></td>
          </tr>
          <tr>
            <td>Anticipation</td>
            <td class="attribute <%= attribute_class(@player.anticipation) %>"><%= @player.anticipation %></td>
          </tr>
          <tr>
            <td>Bravery</td>
            <td class="attribute <%= attribute_class(@player.bravery) %>"><%= @player.bravery %></td>
          </tr>
          <tr>
            <td>Composure</td>
            <td class="attribute <%= attribute_class(@player.composure) %>"><%= @player.composure %></td>
          </tr>
          <tr>
            <td>Concentration</td>
            <td class="attribute <%= attribute_class(@player.concentration) %>"><%= @player.concentration %></td>
          </tr>
          <tr>
            <td>Decisions</td>
            <td class="attribute <%= attribute_class(@player.decisions) %>"><%= @player.decisions %></td>
          </tr>
          <tr>
            <td>Determination</td>
            <td class="attribute <%= attribute_class(@player.determination) %>"><%= @player.determination %></td>
          </tr>
          <tr>
            <td>Flair</td>
            <td class="attribute <%= attribute_class(@player.flair) %>"><%= @player.flair %></td>
          </tr>
          <tr>
            <td>Leadership</td>
            <td class="attribute <%= attribute_class(@player.leadership) %>"><%= @player.leadership %></td>
          </tr>
          <tr>
            <td>Off The Ball</td>
            <td class="attribute <%= attribute_class(@player.off_the_ball) %>"><%= @player.off_the_ball %></td>
          </tr>
          <tr>
            <td>Positioning</td>
            <td class="attribute <%= attribute_class(@player.positioning) %>"><%= @player.positioning %></td>
          </tr>
          <tr>
            <td>Teamwork</td>
            <td class="attribute <%= attribute_class(@player.teamwork) %>"><%= @player.teamwork %></td>
          </tr>
          <tr>
            <td>Vision</td>
            <td class="attribute <%= attribute_class(@player.vision) %>"><%= @player.vision %></td>
          </tr>
          <tr>
            <td>Work Rate</td>
            <td class="attribute <%= attribute_class(@player.work_rate) %>"><%= @player.work_rate %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <h5>PHYSICAL</h5>
      <table class="table">
        <tbody>
          <tr>
            <td>Acceleration</td>
            <td class="attribute <%= attribute_class(@player.acceleration) %>"><%= @player.acceleration %></td>
          </tr>
          <tr>
            <td>Agility</td>
            <td class="attribute <%= attribute_class(@player.agility) %>"><%= @player.agility %></td>
          </tr>
          <tr>
            <td>Balance</td>
            <td class="attribute <%= attribute_class(@player.balance) %>"><%= @player.balance %></td>
          </tr>
          <tr>
            <td>Jumping Reach</td>
            <td class="attribute <%= attribute_class(@player.jumping) %>"><%= @player.jumping %></td>
          </tr>
          <tr>
            <td>Natural Fitness</td>
            <td class="attribute <%= attribute_class(@player.natural_fitness) %>"><%= @player.natural_fitness %></td>
          </tr>
          <tr>
            <td>Pace</td>
            <td class="attribute <%= attribute_class(@player.pace) %>"><%= @player.pace %></td>
          </tr>
          <tr>
            <td>Stamina</td>
            <td class="attribute <%= attribute_class(@player.stamina) %>"><%= @player.stamina %></td>
          </tr>
          <tr>
            <td>Strength</td>
            <td class="attribute <%= attribute_class(@player.strength) %>"><%= @player.strength %></td>
          </tr>
          <tr>
            <td>Consistency</td>
            <td class="attribute <%= attribute_class(@player.h_consistency) %>"><%= @player.h_consistency %></td>
          </tr>
          <tr>
            <td>Dirtiness</td>
            <td class="attribute <%= reverse_attribute_class(@player.h_dirtiness) %>"><%= @player.h_dirtiness %></td>
          </tr>
          <tr>
            <td>Important Matches</td>
            <td class="attribute <%= attribute_class(@player.h_important_matches) %>"><%= @player.h_important_matches %></td>
          </tr>
          <tr>
            <td>Injury Proneness</td>
            <td class="attribute <%= reverse_attribute_class(@player.h_injury_proneness) %>"><%= @player.h_injury_proneness %></td>
          </tr>
          <tr>
            <td>Left Foot <%= @player.foot_left %></td>
            <td class="attribute">Right Foot <%= @player.foot_right %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
